ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(18, 28, 41);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
}

li {
    display: inline;
}

ul a {
    float: left;
    padding: 10px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #5ca595;
}

body {
    background-color: rgb(20, 48, 85);
    color:rgb(156, 185, 223);
}

p {
    color:rgb(156, 185, 223);
    background-color:rgb(59, 88, 124);
    font-size: 90%;
    padding: 5px;
}

table {
    padding: 5px;
}

p.big {
    font-size: 1000%;
}

p.negative { 
    letter-spacing: -1.5px; 
}

h1 { 
    color: rgb(163, 169, 185); 
    text-shadow: 5px 2px 1px rgb(128, 128, 128);
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a {
    color:rgb(115, 197, 193)
}
